<div class="card mb-2 text-center bg-dark text-center">
  <!-- Cuando se le quiere decir a Angular el valor de algún atributo HTML es igual a una expresión de JS se pone con llaves cuadradas, con esto se hace binding del valor de una expresion -->
    <!--   <img
    [src]="gif.images.downsized_medium.url"
    [alt]="gif.title"
    class="card-img-top"
    > -->
  <shared-lazy-image
  [_url]="gif.images.downsized_medium.url"
  [_alt]="gif.title || 'No Name'"
  ></shared-lazy-image>

  <div class="card-body text-white">
    <p class="card-text">
      {{ gif.title || "No Title"}}
    </p>
  </div>
</div>
